.showInfo {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
  font-size: 16px;
  line-height: 1.5;
}

.cardImage {
  transition: all 0.3s ease-in-out;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.1);
}

.showInfo:hover .cardImage,
.showInfo:focus .cardImage,
.showInfo:active .cardImage {
  transform: scale(1);
}

.cardOverlay {
  position: absolute;
  backdrop-filter: blur(2px) grayscale(1);
  transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: grid;
  place-items: center;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background: radial-gradient(circle, #0008 2%, #00000004 100%);
}

.showInfo:hover .cardOverlay,
.showInfo:focus .cardOverlay,
.showInfo:active .cardOverlay {
  backdrop-filter: blur(0) grayscale(0);
  background: linear-gradient(0deg, #0008 0%, rgba(0, 0, 0, 0) 44%, rgba(0, 0, 0, 0) 56%, #0004 100%);
}

.testNumber {
  font-size: 1.875em;
  line-height: 2.25em;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.showInfo:hover .testNumber,
.showInfo:focus .testNumber,
.showInfo:active .testNumber,
.forceInfo .testNumber {
  opacity: 0;
  transform: translateY(-3em);
}

.testName,
.testNumber {
  text-shadow: 0 0 0.8em #000;
}

.testName {
  font-family: 'Indie Flower';
  font-size: 1.125em;

  position: absolute;
  bottom: 0;
  transition: all 0.3s ease-in-out;
  transform: translateY(6em);

  @media screen and (min-width: 768px) {
    font-size: 1.5em;
    line-height: 2em;
  }

  @media screen and (min-width: 1024px) {
    font-size: 1.875em;
    line-height: 2.25em;
  }
}

.showInfo:hover .testName,
.showInfo:focus .testName,
.showInfo:active .testName,
.forceInfo .testName {
  transform: translateY(0);
}

.testTechnologies {
  transition: all 0.3s ease-in-out;
  transition-delay: 0;
  display: flex;
  gap: 0.3em;
  position: absolute;
  top: 0.8em;
  transform: translateY(-6em);
}

.showInfo:hover .testTechnologies,
.showInfo:focus .testTechnologies,
.showInfo:active .testTechnologies,
.forceInfo .testTechnologies {
  transform: translateY(0);
}
