---
import { Icon } from 'astro-icon'

const links = [
  {
    name: 'github',
    title: 'Github',
    href: 'https://github.com/XsKino'
  },
  {
    name: 'x-brand',
    title: 'Twitter',
    href: 'https://twitter.com/andresprza'
  },
  {
    name: 'linkedin',
    title: 'LinkedIn',
    href: 'https://www.linkedin.com/in/andresprza'
  }
]
---

{
  links.map(({ name, title, href }) => (
    <a
      href={href}
      target='_blank'
      rel='noopener noreferrer'
      class='h-[1em] relative group outline-none focus:outline-2 focus:outline-foreground rounded'
      title={`Kino's ${title}`}>
      <Icon
        name={name}
        class='stroke-foreground h-full w-auto absolute blur opacity-0 group-hover:opacity-100'
      />
      <Icon name={name} class='stroke-foreground h-full w-auto' />
    </a>
  ))
}
