---
import Body from '@layouts/Body.astro'
import Progress from '@/src/components/day/2/Progress'
---

<Body
  transition:name='day-2'
  title='Progress Steps'
  class='dark bg-gradient-to-tr from-[#010101] to-[#343434]'>
  <div class='h-[100svh] grid place-items-center'>
    <Progress client:load />
  </div>
</Body>
