---
import Body from '@layouts/Body.astro'
---

<Body title='Animated Navigation' class='bg-neutral-800'>
  <main class='min-h-screen grid place-content-center'>
    <div class='bg-white p-10 rounded-lg shadow-lg'>
      <h1 class='text-2xl font-bold'>Animated Navigation</h1>
    </div>
  </main>
</Body>
